@import "tailwindcss";


@theme inline {

--font-inter : var(--font-inter) ;

--color-extra-darkblue : #0F2854 ;
--color-extra-blue : #1C4D8D ;
--color-medium-blue : #4988C4 ;
--color-lightblue : #BDE8F5 ;
}

